
@{
    ViewData["Title"] = "AboutUs";
}
<style>
    h1,h2,h3{
        color:darkcyan;  
    }
</style>



<section class="py-3 py-md-5 py-xl-8">
    <div class="container p-5 my-5 border col-12 text-center">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6 col-xl-5">
                <img class="img-fluid rounded" loading="lazy" src="~/Images/LOGO.png" alt="">
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-11">
                        <h2 class="h1 mb-3">Who Are We?</h2>
                        <p class="lead fs-4 text-secondary mb-3">Welcome to Movie Store Chili</p>
                        <p class="mb-5">
                            At Movie Store Chili, we're passionate about movies. Our mission is to
                            provide movie enthusiasts with a convenient and enjoyable shopping experience,
                            offering a wide selection of films to cater to every taste and preference.
                        </p>
                        <p class="lead fs-4 text-secondary mb-3">Our Story</p>
                        <p class="mb-5">
                            Founded in 2024, Movie Store Chili began as a small venture born out of
                            our love for cinema. We envisioned a platform where movie lovers could
                            access their favorite films easily, whether it's the latest blockbusters,
                            timeless classics, or niche indie productions.
                            Over the years, we've grown into a trusted online destination for movie
                            enthusiasts worldwide. With a dedicated team of movie aficionados, we're
                            committed to curating an extensive collection of films, ensuring that our
                            customers have access to a diverse range of titles.
                        </p>
                        
                       @*  <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-3">
                                    <div class="well well-sm">
                                        <form class="form-horizontal" action="" method="post">
                                            <fieldset>
                                                <legend class="text-center">Contact us</legend>

                                                <!-- Name input-->
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" for="name">Name</label>
                                                    <div class="col-md-12">
                                                        <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                                                    </div>
                                                </div>

                                                <!-- Email input-->
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" for="email">Your E-mail</label>
                                                    <div class="col-md-12">
                                                        <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                                                    </div>
                                                </div>

                                                <!-- Message body -->
                                                <div class="form-group">
                                                    <label class="col-md-3 control-label" for="message">Your message</label>
                                                    <div class="col-md-12">
                                                        <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                                                    </div>
                                                </div>

                                                <!-- Form actions -->
                                                <div class="form-group">
                                                    <div class="col-md-12 text-right">
                                                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                </div>
 *@
            </div>
        
        </div>

    </div>
</section>