@model MovieStore_Chili.Models.ViewModels.FrontPageVM
@{
    ViewData["Title"] = "SortedByNewest";
}
<h1 align="center">Newest Movies</h1>
<hr />
<div class="container">
   <div class="row">
    <div class="col-md-12">

        @Html.Partial("_SortedByNewestPartial", Model.NewestMovies)
        
    </div>
   </div>
</div>


